<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd" >
	
	<bean id="virtueDAO" class="person.daizhongde.virtue.dao.SpringHibernateDaoSupport">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 定义globalEnvDao组件 -->
	<bean id="globalEnvDAO" class="person.daizhongde.virtue.dao.GlobalEnvDAOImpl_MySQL">
		<property name="systemVersion">
			<value>${system.version}</value>
		</property>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 按鈕功能 -->
	<bean id="tAuthorityFuncDAO"
		class="com.asiainfo.authority.hibernate.dao.impl.TAuthorityFuncDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- 按钮 -->
	<bean id="tAuthorityButtonDAO"
		class="com.asiainfo.authority.hibernate.dao.impl.TAuthorityButtonDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- 角色按鈕關系 -->
	<bean id="tAuthorityRbrelationDAO"
		class="com.asiainfo.authority.hibernate.dao.impl.TAuthorityRbrelationDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 模块 -->
	<bean id="tAuthorityModuleDAO" class="com.asiainfo.authority.hibernate.dao.impl.TAuthorityModuleDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- 权限级别 -->
	<bean id="tAuthorityLevelDAO" class="com.asiainfo.authority.hibernate.dao.impl.TAuthorityLevelDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 角色-->
	<bean id="tAuthorityRoleDAO"
		class="com.asiainfo.authority.hibernate.dao.impl.TAuthorityRoleDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- 角色块挂接关系-->
	<bean id="tAuthorityRmrelationDAO"
		class="com.asiainfo.authority.hibernate.dao.impl.TAuthorityRmrelationDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 用户 -->
	<bean id="tAuthorityUserDAO"
		class="com.asiainfo.authority.hibernate.dao.impl.TAuthorityUserDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 用户角色挂接关系 -->
	<bean id="tAuthorityUrrelationDAO"
		class="com.asiainfo.authority.hibernate.dao.impl.TAuthorityUrrelationDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 机构 -->
	<bean id="tAuthorityInstDAO"
		class="com.asiainfo.authority.hibernate.dao.impl.TAuthorityInstDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>