<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<!-- 通用导出类 -->
	<bean id="commonEXPAction"
		class="com.asiainfo.authority.struts2.action.common.CommonEXPAction"
		scope="prototype">
		<property name="loginCheck">
			<value>${download.login}</value>
		</property>
	</bean>

	<!-- 通用下载类 -->
	<bean id="downloadEXPAction" class="com.asiainfo.authority.struts2.action.common.DownloadEXPAction" 
	 autowire="no" autowire-candidate="false" scope="prototype">
		<property name="loginCheck">
			<value>${download.login}</value>
		</property>
	</bean>
	
	<!-- loginAction -->
	<bean id="loginAction" class="com.asiainfo.authority.struts2.action.LoginAction" 
	 autowire="no" autowire-candidate="false" scope="prototype">
		<property name="pwdUtil">
			<ref bean="pwdUtil" />
		</property>
		<property name="userService">
			<ref bean="tAuthorityUserService" />
		</property>
	</bean>
	<!-- logoutAction -->
	<bean id="logoutAction" class="com.asiainfo.authority.struts2.action.LogoutAction" 
	autowire="no" autowire-candidate="false" scope="prototype">
		<property name="pwdUtil">
			<ref bean="pwdUtil" />
		</property>
		<property name="userService">
			<ref bean="tAuthorityUserService" />
		</property>
	</bean>
	<!-- 按钮功能|CBB -->
	<bean id="tAuthorityFuncCBBAction" class="com.asiainfo.authority.struts2.action.cbb.TAuthorityFuncCBBAction" 
	autowire="no" autowire-candidate="false" scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityFuncService" />
		</property>
	</bean>
	
	<!-- 按钮|JEasyUI Query -->
	<bean id="tAuthorityButtonJEasyUIQUERYAction" class="com.asiainfo.authority.struts2.action.query.TAuthorityButtonJEasyUIQUERYAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityButtonService" />
		</property>
	</bean>
	<!-- 按钮 |CURD -->
	<bean id="tAuthorityButtonCURDAction" class="com.asiainfo.authority.struts2.action.curd.TAuthorityButtonCURDAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityButtonService" />
		</property>
	</bean>
	<!-- 模块信息|JEasyUI Query #################################   模块   ##########################################################-->
	<bean id="tAuthorityModuleJEasyUIQUERYAction" class="com.asiainfo.authority.struts2.action.query.TAuthorityModuleJEasyUIQUERYAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityModuleService" />
		</property>
	</bean>
	<!-- 模块信息|Dojo Query -->
	<bean id="tAuthorityModuleDojoQUERYAction" class="com.asiainfo.authority.struts2.action.query.TAuthorityModuleDojoQUERYAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityModuleService" />
		</property>
	</bean>
	<!-- 模块信息|YUI2 Query -->
	<bean id="tAuthorityModuleYUI2QUERYAction" class="com.asiainfo.authority.struts2.action.query.TAuthorityModuleYUI2QUERYAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityModuleService" />
		</property>
	</bean>
	<!-- 模块信息|YUI3 Query -->
	<bean id="tAuthorityModuleYUI3QUERYAction" class="com.asiainfo.authority.struts2.action.query.TAuthorityModuleYUI3QUERYAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityModuleService" />
		</property>
	</bean>
	<!-- 模块信息|Ext3 Query -->
	<bean id="tAuthorityModuleExt3QUERYAction" class="com.asiainfo.authority.struts2.action.query.TAuthorityModuleExt3QUERYAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityModuleService" />
		</property>
	</bean>
	<!-- 模块信息|Export -->
	<bean id="tAuthorityModuleEXPAction" class="com.asiainfo.authority.struts2.action.exp.TAuthorityModuleEXPAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityModuleService_EXP" />
		</property>
		<property name="loginCheck">
			<value>${download.login}</value>
		</property>
	</bean>
	
	<!-- 模块信息|CURD -->
	<bean id="tAuthorityModuleCURDAction" class="com.asiainfo.authority.struts2.action.curd.TAuthorityModuleCURDAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityModuleService" />
		</property>
	</bean>
	
	<!-- 模块信息|Tree -->
	<bean id="tAuthorityModuleTREEAction" class="com.asiainfo.authority.struts2.action.tree.TAuthorityModuleTREEAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityModuleService" />
		</property>
	</bean>
	<!-- 模块信息|个性化业务 -->
	<bean id="tAuthorityModuleAction" class="com.asiainfo.authority.struts2.action.TAuthorityModuleAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityModuleService" />
		</property>
	</bean>
	
	<!-- 模块信息|CBB -->
	<bean id="tAuthorityModuleCBBAction" class="com.asiainfo.authority.struts2.action.cbb.TAuthorityModuleCBBAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityModuleService" />
		</property>
	</bean>
	
	<!-- 级别信息|YUI2 Query #################################   级别   ########################################################## -->
	<bean id="tAuthorityLevelYUI2QUERYAction" class="com.asiainfo.authority.struts2.action.query.TAuthorityLevelYUI2QUERYAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityLevelService" />
		</property>
	</bean>

	<!-- 级别信息|CURD -->
	<bean id="tAuthorityLevelCURDAction" class="com.asiainfo.authority.struts2.action.curd.TAuthorityLevelCURDAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityLevelService" />
		</property>
	</bean>
	<!-- 级别信息|CBB -->
	<bean id="tAuthorityLevelCBBAction" class="com.asiainfo.authority.struts2.action.cbb.TAuthorityLevelCBBAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityLevelService" />
		</property>
	</bean>
	
	<!--       #################################   角色       ########################################################## -->
	<!-- 角色 | Tree -->
	<bean id="tAuthorityRoleTREEAction" class="com.asiainfo.authority.struts2.action.tree.TAuthorityRoleTREEAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityRoleService" />
		</property>
	</bean>
	<!-- 角色 |CURD -->
	<bean id="tAuthorityRoleCURDAction" class="com.asiainfo.authority.struts2.action.curd.TAuthorityRoleCURDAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityRoleService" />
		</property>
	</bean>

	<!-- 角色按钮挂接关系 | CURD -->
	<bean id="tAuthorityRbrelationCURDAction" class="com.asiainfo.authority.struts2.action.curd.TAuthorityRbrelationCURDAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityRbrelationService" />
		</property>
	</bean>
	
	<!-- 角色模块挂接关系 | CURD -->
	<bean id="tAuthorityRmrelationCURDAction" class="com.asiainfo.authority.struts2.action.curd.TAuthorityRmrelationCURDAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityRmrelationService" />
		</property>
	</bean>
	<bean id="tAuthorityRmrelationJEasyUIQUERYAction" class="com.asiainfo.authority.struts2.action.query.TAuthorityRmrelationJEasyUIQUERYAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityRmrelationService" />
		</property>
	</bean>
	
	<!--       #################################   机构       ########################################################## -->
	<!-- 机构 | Tree -->
	<bean id="tAuthorityInstTREEAction" class="com.asiainfo.authority.struts2.action.tree.TAuthorityInstTREEAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityInstService" />
		</property>
	</bean>
	<!-- 机构 |CURD -->
	<bean id="tAuthorityInstCURDAction" class="com.asiainfo.authority.struts2.action.curd.TAuthorityInstCURDAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityInstService" />
		</property>
	</bean>

	<!-- 用户 |CURD -->
	<bean id="tAuthorityUserCURDAction" class="com.asiainfo.authority.struts2.action.curd.TAuthorityUserCURDAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityUserService" />
		</property>
	</bean>
	<!-- 用户角色挂接关系 | CURD -->
	<bean id="tAuthorityUrrelationCURDAction" class="com.asiainfo.authority.struts2.action.curd.TAuthorityUrrelationCURDAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityUrrelationService" />
		</property>
	</bean>
	<!-- 用户 | Query -->
	<bean id="tAuthorityUserJEasyUIQUERYAction" class="com.asiainfo.authority.struts2.action.query.TAuthorityUserJEasyUIQUERYAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityUserService" />
		</property>
	</bean>
	<!-- 亚信员工信息 |Tree -->
	<bean id="tAuthorityUserTREEAction" class="com.asiainfo.authority.struts2.action.tree.TAuthorityUserTREEAction"
	autowire="no" autowire-candidate="false"  scope="prototype">
		<property name="dataService">
			<ref bean="tAuthorityUserService" />
		</property>
	</bean>
</beans>
